@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url(../fonts/Helvetica-Neue/stylesheet.css);
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

:focus {
  outline: none;
}

button {
  cursor: pointer;
}

a {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.main {
  padding-top: 120px;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  padding: 0 15px;
  padding-top: 150px;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.modal.active {
  display: block;
}

.modal__block {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  background: #FFFFFF;
  border-radius: 10px;
  padding: 50px;
  overflow: hidden;
  position: relative;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.modal__block .wrap {
  position: relative;
  z-index: 2;
}
.modal__block .close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 30px;
  height: 30px;
  background: transparent;
  border: 0;
}
.modal__block .close::after {
  content: "";
  width: 24px;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  background: #15435C;
  border-radius: 5px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.modal__block .close::before {
  content: "";
  width: 24px;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
  background: #15435C;
  border-radius: 5px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.modal__block .close:hover::after, .modal__block .close:hover::before {
  background: rgb(184, 1, 1);
}
.modal__block .title {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 32px;
  text-transform: uppercase;
  color: #15435C;
  margin-bottom: 50px;
}
.modal__block .input {
  width: 100%;
  margin-bottom: 15px;
}
.modal__block .input input {
  width: 100%;
  height: 40px;
  padding: 0 18px;
  border: 1px solid #15435C;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #15435C;
  border-radius: 3px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background: transparent;
}
.modal__block .input input::-webkit-input-placeholder {
  color: #4f5b63;
}
.modal__block .input input::-moz-placeholder {
  color: #4f5b63;
}
.modal__block .input input:-ms-input-placeholder {
  color: #4f5b63;
}
.modal__block .input input::-ms-input-placeholder {
  color: #4f5b63;
}
.modal__block .input input::placeholder {
  color: #4f5b63;
}
.modal__block .input input:focus {
  border-color: #158ac9;
}
.modal__block .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.modal__block .box .input:nth-child(1) {
  width: calc(100% - 200px);
}
.modal__block .box .input:nth-child(2) {
  width: 190px;
}
.modal__block .textarea {
  min-width: 100%;
  max-width: 100%;
  width: 100%;
  min-height: 160px;
  max-height: 160px;
  height: 160px;
  padding: 12px 18px;
  border: 1px solid #15435C;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #15435C;
  border-radius: 3px;
  margin-bottom: 24px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background: transparent;
}
.modal__block .textarea::-webkit-input-placeholder {
  color: #4f5b63;
}
.modal__block .textarea::-moz-placeholder {
  color: #4f5b63;
}
.modal__block .textarea:-ms-input-placeholder {
  color: #4f5b63;
}
.modal__block .textarea::-ms-input-placeholder {
  color: #4f5b63;
}
.modal__block .textarea::placeholder {
  color: #4f5b63;
}
.modal__block .textarea:focus {
  border-color: #158ac9;
}
.modal__block .btn {
  width: 100%;
  height: 50px;
  font-family: "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 25px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: linear-gradient(85.65deg, #00D1FF 0.01%, #35FFF3 100%);
  -webkit-box-shadow: 0px 4px 20px rgba(21, 67, 92, 0.08);
          box-shadow: 0px 4px 20px rgba(21, 67, 92, 0.08);
  border-radius: 10px;
  border: 0;
}

.modal.opacity {
  opacity: 1;
}
.modal.opacity .modal__block {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.modal__block::after {
  content: "";
  width: 400px;
  height: 400px;
  position: absolute;
  bottom: -90px;
  left: -90px;
  background: rgb(255, 255, 255);
  background: linear-gradient(200deg, rgb(255, 255, 255) 17%, rgb(21, 67, 92) 60%);
  border-radius: 50%;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.modal__block:hover::after {
  -webkit-transform: translate(290px, 20px) rotate(-45deg);
          transform: translate(290px, 20px) rotate(-45deg);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 50px 0;
  background-color: #FFFFFF;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.header .container {
  position: relative;
  z-index: 999;
}
.header .logo {
  display: block;
}
.header .logo2 {
  display: none;
}

.header_fixed, .header_2, .header.menu-open {
  padding: 27px 0;
  position: relative;
  -webkit-box-shadow: 0px 1px 1px rgba(21, 67, 92, 0.05), 0px 4px 20px rgba(21, 67, 92, 0.05);
          box-shadow: 0px 1px 1px rgba(21, 67, 92, 0.05), 0px 4px 20px rgba(21, 67, 92, 0.05);
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
}
.header_fixed .logo, .header_2 .logo, .header.menu-open .logo {
  display: none;
}
.header_fixed .logo2, .header_2 .logo2, .header.menu-open .logo2 {
  display: block;
}
.header_fixed .header__navbar a, .header_2 .header__navbar a, .header.menu-open .header__navbar a {
  color: #15435C;
}
.header_fixed .header__phone, .header_2 .header__phone, .header.menu-open .header__phone {
  color: #15435C;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 268px;
  height: 66px;
}
.header__logo img {
  width: calc(100% + 30px);
}

.header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__navbar {
  max-width: 405px;
  margin-right: 200px;
  margin-left: auto;
}
.header__navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(7px);
          transform: translateY(7px);
}
.header__navbar li {
  margin-right: 40px;
  margin-bottom: 14px;
}
.header__navbar li:nth-child(3n) {
  margin-right: 0;
}
.header__navbar li:last-child {
  margin-right: 0;
}
.header__navbar a {
  white-space: nowrap;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  position: relative;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.header__navbar a::after {
  content: "";
  width: 0;
  height: 1px;
  background: #35FFF3;
  position: absolute;
  bottom: -2px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header__navbar a:hover {
  color: #35FFF3;
}
.header__navbar a:hover::after {
  width: 100%;
}

.header__right {
  text-align: end;
}

.header__phone {
  display: block;
  font-weight: 300;
  font-size: 21px;
  line-height: 25px;
  color: #FFFFFF;
  margin-bottom: 3px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.header__phone span {
  font-weight: 700;
}

.header__phone:hover {
  color: #35FFF3;
}

.header__call {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #35FFF3;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #35FFF3;
}

.banner {
  height: 1000px;
  position: relative;
  overflow: hidden;
  margin-top: -120px;
}
.banner .slick-prev, .banner .slick-next {
  width: 50px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  z-index: 9;
}
.banner .slick-prev::before, .banner .slick-next::before {
  display: none;
}
.banner .slick-prev::after, .banner .slick-next::after {
  content: "";
  width: 10px;
  height: 10px;
  border: 2px solid #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
.banner .slick-prev::after {
  border-top: 0;
  border-right: 0;
  left: 53%;
}
.banner .slick-next::after {
  border-bottom: 0;
  border-left: 0;
  left: 47%;
}
.banner .slick-prev {
  left: 14%;
}
.banner .slick-next {
  right: 14%;
}
.banner .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1200px;
  width: 100%;
  bottom: 180px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.banner .slick-dots li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  margin: 0;
  margin-right: 16px;
}
.banner .slick-dots li button {
  display: none;
}
.banner .slick-dots li.slick-active {
  background: #35FFF3;
}

.banner__block {
  height: 1000px;
  width: 100%;
  padding-top: 346px;
}

.banner::after {
  content: "";
  width: 750px;
  height: 100px;
  position: absolute;
  bottom: -70px;
  left: 0;
  z-index: 9;
  background-color: #FFFFFF;
  -webkit-transform: rotate(-4deg) skewX(55deg);
          transform: rotate(-4deg) skewX(55deg);
}

.banner__title {
  max-width: 700px;
  width: 100%;
  font-weight: 700;
  font-size: 73px;
  line-height: 85px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 17px;
}
.banner__title span {
  font-weight: 900;
  font-size: 93px;
  text-transform: uppercase;
  color: #35FFF3;
}

.banner__text {
  max-width: 555px;
  width: 100%;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  color: #9CB8C7;
}

.title_h2 .h2 {
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  text-transform: uppercase;
  color: #15435C;
}

.services {
  padding-top: 35px;
  padding-bottom: 46px;
}
.services .title_h2 {
  margin-bottom: 30px;
}

.services__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services__block {
  width: 386px;
  height: 220px;
  margin-right: 21px;
  margin-bottom: 21px;
  position: relative;
  border-radius: 4px;
  -webkit-filter: drop-shadow(0px 4px 30px rgba(21, 67, 92, 0.3));
          filter: drop-shadow(0px 4px 30px rgba(21, 67, 92, 0.3));
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.services__block .more {
  position: absolute;
  bottom: 30px;
  left: 30px;
  padding: 7px 15px 9px 15px;
  border: 1px solid #35FFF3;
  border-radius: 5px;
  background: transparent;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #35FFF3;
  z-index: 1;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.services__block .more:hover {
  background: #00c2b5;
  border-color: #00c2b5;
  color: #FFFFFF;
}
.services__block .content {
  position: absolute;
  left: 30px;
  bottom: 80px;
  right: 30px;
  z-index: 1;
}
.services__block .content .title {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 23px;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.services__block::after {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(72deg, #15435C 0%, rgba(21, 67, 92, 0.3) 100%);
  position: absolute;
  top: 0;
  left: 0;
}

.services__block:nth-child(3n) {
  margin-right: 0;
}

.services__block:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.news {
  min-height: 850px;
  padding-top: 73px;
  position: relative;
  overflow: hidden;
}
.news .container {
  position: relative;
  z-index: 2;
}
.news .title_h2 {
  margin-bottom: 30px;
}

.news::after {
  content: "";
  width: 100%;
  height: 50%;
  background: url(../img/section-bg.svg) no-repeat top;
  background-size: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.news::before {
  content: "";
  width: 100%;
  height: 50%;
  background: url(../img/section-bg.svg) no-repeat bottom;
  background-size: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.news__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.news__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news__main {
  width: 585px;
}
.news__main .img {
  width: 100%;
  height: 300px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
}
.news__main .img .number {
  font-family: "Helvetica Neue";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 0;
  left: 30px;
  width: 60px;
  height: 60px;
  background: #35FFF3;
  border-radius: 4px;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.news__main .img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}
.news__main .title {
  max-width: 320px;
  width: 100%;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #15435C;
  margin-bottom: 10px;
}
.news__main .date {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #30DFD5;
  margin-bottom: 10px;
}
.news__main .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #8299A6;
}

.news__nav {
  width: 585px;
}
.news__nav .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  border-bottom: 1px solid #DAEDF7;
  padding-top: 10px;
  padding-bottom: 30px;
}
.news__nav .wrap:hover .title {
  color: #35FFF3;
}
.news__nav .number {
  font-family: "Helvetica Neue";
  min-width: 50px;
  width: 50px;
  height: 66px;
  font-weight: 700;
  font-size: 50px;
  line-height: 40px;
  text-transform: uppercase;
  color: #15435C;
  position: relative;
}
.news__nav .number::after {
  content: "";
  width: 100%;
  height: 15px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #35FFF3;
  border-radius: 4px;
}
.news__nav .content {
  width: calc(100% - 50px);
  padding-left: 30px;
}
.news__nav .title {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #15435C;
  margin-bottom: 10px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.news__nav .date {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #30DFD5;
  margin-bottom: 10px;
}
.news__nav .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #8299A6;
}

.projects {
  padding-bottom: 80px;
}
.projects .title_h2 {
  margin-bottom: 30px;
}

.projects__map {
  width: calc(100% - 340px);
  padding-left: 19px;
  position: relative;
}
.projects__map svg {
  width: 100%;
  height: 100%;
}
.projects__map svg g {
  fill: transparent !important;
}
.projects__map svg path, .projects__map svg polygon {
  fill: #CADBE3 !important;
  stroke: #fff !important;
  stroke-width: 2px;
  stroke-linejoin: round;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
}
.projects__map svg path:hover, .projects__map svg polygon:hover {
  fill: #35FFF3 !important;
}
.projects__map .region1 {
  position: absolute;
  bottom: 141px;
  left: 31px;
}
.projects__map .region1 svg {
  width: 19px;
  height: 16px;
}
.projects__map .region2 {
  position: absolute;
  bottom: 132px;
  left: 45px;
}
.projects__map .region2 svg {
  width: 19px;
  height: 20px;
}
.projects__map .region3 {
  position: absolute;
  bottom: 129px;
  left: 59px;
}
.projects__map .region3 svg {
  width: 20px;
  height: 19px;
}
.projects__map .region4 {
  position: absolute;
  bottom: 126px;
  left: 85px;
}
.projects__map .region4 svg {
  width: 18px;
  height: 24px;
}

.projects__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projects__nav {
  width: 340px;
}
.projects__nav .wrap {
  width: 100%;
  height: 480px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 30px rgba(21, 67, 92, 0.1);
          box-shadow: 0px 4px 30px rgba(21, 67, 92, 0.1);
  border-radius: 10px;
  padding: 30px;
  padding-right: 10px;
}
.projects__nav .title {
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 25px;
  line-height: 30px;
  color: #15435C;
}
.projects__nav .scroll {
  height: 360px;
  overflow-y: scroll;
  padding-right: 10px;
}
.projects__nav .scroll::-webkit-scrollbar {
  background: #F6F8F9;
  width: 10px;
  border-radius: 10px;
}
.projects__nav .scroll::-webkit-scrollbar-track {
  background: #F6F8F9;
  border-radius: 10px;
}
.projects__nav .scroll::-webkit-scrollbar-thumb {
  background: #CADBE3;
  border-radius: 10px;
  border: 0px solid #fff;
}
.projects__nav .scroll::-webkit-scrollbar-button {
  display: none;
}
.projects__nav .item {
  width: 100%;
  display: block;
  border-top: 1px solid #DAEDF7;
  padding-top: 10px;
  padding-bottom: 20px;
  cursor: pointer;
}
.projects__nav .item:hover .city, .projects__nav .item.active .city {
  color: #35FFF3;
}
.projects__nav .city {
  font-weight: 700;
  font-size: 17px;
  line-height: 21px;
  color: #15435C;
  margin-bottom: 6px;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.projects__nav .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #8299A6;
}

.partners {
  padding-top: 90px;
  padding-bottom: 150px;
  position: relative;
}
.partners .slick-prev, .partners .slick-next {
  width: 50px;
  height: 50px;
  border: 1px solid rgba(21, 67, 92, 0.2);
  border-radius: 50%;
  z-index: 9;
}
.partners .slick-prev::before, .partners .slick-next::before {
  display: none;
}
.partners .slick-prev::after, .partners .slick-next::after {
  content: "";
  width: 10px;
  height: 10px;
  border: 2px solid #15435C;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
.partners .slick-prev::after {
  border-top: 0;
  border-right: 0;
  left: 53%;
}
.partners .slick-next::after {
  border-bottom: 0;
  border-left: 0;
  left: 47%;
}
.partners .slick-prev {
  left: -80px;
}
.partners .slick-next {
  right: -80px;
}
.partners .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 0;
}
.partners .slick-dots li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #CADBE3;
  margin: 0;
  margin-right: 16px;
}
.partners .slick-dots li button {
  display: none;
}
.partners .slick-dots li:last-child {
  margin-right: 0;
}
.partners .slick-dots li.slick-active {
  background: #35FFF3;
}
.partners .container {
  position: relative;
  z-index: 2;
}

.partners::after {
  content: "";
  width: 100%;
  height: 50%;
  background: url(../img/section-bg.svg) no-repeat top;
  background-size: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.partners::before {
  content: "";
  width: 100%;
  height: 50%;
  background: url(../img/section-bg.svg) no-repeat bottom;
  background-size: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.partners__wrap {
  padding: 50px 0;
}

.partners__block {
  width: 224px;
  height: 224px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 10px 30px rgba(21, 67, 92, 0.05);
          box-shadow: 0px 10px 30px rgba(21, 67, 92, 0.05);
  border-radius: 4px;
  padding: 42px;
  margin: 0 auto;
}
.partners__block .icon {
  width: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  margin-bottom: 21px;
}
.partners__block .icon img {
  width: 100%;
}
.partners__block .title {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #15435C;
}

.reviews {
  padding-top: 10px;
  padding-bottom: 70px;
}
.reviews .slick-prev, .reviews .slick-next {
  width: 50px;
  height: 50px;
  border: 1px solid rgba(21, 67, 92, 0.2);
  border-radius: 50%;
  z-index: 9;
}
.reviews .slick-prev::before, .reviews .slick-next::before {
  display: none;
}
.reviews .slick-prev::after, .reviews .slick-next::after {
  content: "";
  width: 10px;
  height: 10px;
  border: 2px solid #15435C;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
.reviews .slick-prev::after {
  border-top: 0;
  border-right: 0;
  left: 53%;
}
.reviews .slick-next::after {
  border-bottom: 0;
  border-left: 0;
  left: 47%;
}
.reviews .slick-prev {
  left: -80px;
}
.reviews .slick-next {
  right: -80px;
}

.reviews__wrap {
  padding: 30px 0;
}

.reviews__block {
  width: 224px;
  height: 345px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 30px rgba(21, 67, 92, 0.1);
          box-shadow: 0px 4px 30px rgba(21, 67, 92, 0.1);
  border-radius: 10px;
  margin: 0 auto;
  padding: 20px 29px;
}
.reviews__block .img {
  width: 100%;
  height: 235px;
}
.reviews__block .img img {
  width: 100%;
}
.reviews__block .text {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #15435C;
}

.footer {
  position: relative;
  padding-bottom: 154px;
}
.footer .container {
  position: relative;
  z-index: 2;
}

.footer::after {
  content: "";
  width: 100%;
  height: 50%;
  background: url(../img/footer-bg.svg) no-repeat top;
  background-size: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.footer::before {
  content: "";
  width: 100%;
  height: 50%;
  background: #15435C;
  position: absolute;
  bottom: 0;
  left: 0;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 124px;
  padding-bottom: 44px;
}

.footer__logo {
  width: 268px;
  height: 66px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.footer__logo img {
  width: calc(100% + 30px);
}

.footer__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #35FFF3;
  margin-left: auto;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.footer__email svg {
  margin-right: 11px;
}

.footer__email:hover {
  color: #FFFFFF;
}

.footer__phone {
  display: block;
  font-weight: 300;
  font-size: 21px;
  line-height: 25px;
  color: #FFFFFF;
  margin-left: 70px;
}
.footer__phone span {
  font-weight: 700;
}

.footer__phone:hover {
  color: #35FFF3;
}

.footer__call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 194px;
  height: 52px;
  margin-left: 74px;
  background: linear-gradient(85.65deg, #00D1FF 0.01%, #35FFF3 100%);
  -webkit-box-shadow: 10px 25px 45px rgba(53, 255, 243, 0.3);
          box-shadow: 10px 25px 45px rgba(53, 255, 243, 0.3);
  border-radius: 5px;
  border: 0;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer__call:hover {
  -webkit-box-shadow: 0px 10px 45px rgba(53, 255, 243, 0.3);
          box-shadow: 0px 10px 45px rgba(53, 255, 243, 0.3);
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__nav {
  width: 283px;
  position: relative;
  padding-top: 28px;
}
.footer__nav .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  color: #FFFFFF;
  position: absolute;
  top: 0;
  left: 0;
}
.footer__nav ul a {
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  color: #84E9E3;
  position: relative;
}
.footer__nav ul a::after {
  content: "";
  width: 0;
  height: 2px;
  background: #84E9E3;
  position: absolute;
  bottom: -2px;
  left: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.footer__nav ul a:hover::after {
  width: 100%;
}

.footer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.footer__right .link {
  display: block;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: #48758D;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.footer__right .link:hover {
  color: #35FFF3;
}
.footer__right svg {
  margin-left: 9px;
}

.crumbs {
  margin-bottom: 30px;
}
.crumbs ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.crumbs li {
  margin-right: 12px;
}
.crumbs a {
  display: block;
  padding: 4px 11px 6px 11px;
  border: 1px solid rgba(21, 67, 92, 0.2);
  border-radius: 5px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #6A8695;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.crumbs a:hover {
  background: #00D1FF;
  border-color: #00D1FF;
  color: #FFFFFF;
}
.crumbs p {
  display: block;
  padding: 4px 11px 6px 11px;
  border: 1px solid #00D1FF;
  border-radius: 5px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #00D1FF;
}

.card {
  padding-bottom: 100px;
}

.card__banner {
  height: 500px;
  background: #DFF5F4;
  position: relative;
}
.card__banner .line {
  position: absolute;
  bottom: 0;
  right: 110px;
}
.card__banner .container {
  position: relative;
  z-index: 2;
  height: 100%;
  padding-top: 20px;
}
.card__banner .img {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 110px;
}
.card__banner .wrap {
  max-width: 630px;
  width: 100%;
}
.card__banner .h1 {
  font-weight: 700;
  font-size: 73px;
  line-height: 88px;
  text-transform: uppercase;
  color: #15435C;
}
.card__banner .title {
  font-weight: 400;
  font-size: 37px;
  line-height: 45px;
  color: #15435C;
  margin-bottom: 20px;
}
.card__banner .title span {
  font-weight: 700;
  color: #00D1FF;
}
.card__banner .text {
  max-width: 555px;
  width: 100%;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  color: #6A8695;
  margin-bottom: 57px;
}
.card__banner .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card__banner .price_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-weight: 400;
  font-size: 37px;
  line-height: 45px;
  color: #15435C;
}
.card__banner .price {
  font-weight: 700;
  font-size: 53px;
  line-height: 48px;
  text-transform: uppercase;
  color: #15435C;
  margin: 0 10px;
}
.card__banner .btn {
  font-family: "Oswald", sans-serif;
  width: 200px;
  height: 56px;
  background: linear-gradient(85.65deg, #00D1FF 0.01%, #35FFF3 100%);
  -webkit-box-shadow: 0px 4px 20px rgba(21, 67, 92, 0.08);
          box-shadow: 0px 4px 20px rgba(21, 67, 92, 0.08);
  border-radius: 10px;
  font-weight: 700;
  font-size: 21px;
  line-height: 25px;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 0;
  margin-left: 36px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.card__banner .btn:hover {
  -webkit-box-shadow: 0px 4px 20px rgba(21, 67, 92, 0.08);
          box-shadow: 0px 4px 20px rgba(21, 67, 92, 0.08);
  -webkit-box-shadow: 0px 10px 45px rgba(53, 255, 243, 0.3);
          box-shadow: 0px 10px 45px rgba(53, 255, 243, 0.3);
}

.card__wrap {
  padding-top: 50px;
}
.card__wrap .title {
  font-weight: 800;
  font-size: 25px;
  line-height: 30px;
  color: #15435C;
  margin-bottom: 20px;
}
.card__wrap .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #8299A6;
  margin-bottom: 20px;
}

.card__slider .slick-prev, .card__slider .slick-next {
  width: 50px;
  height: 50px;
  border: 1px solid rgba(21, 67, 92, 0.2);
  border-radius: 50%;
  z-index: 9;
}
.card__slider .slick-prev::before, .card__slider .slick-next::before {
  display: none;
}
.card__slider .slick-prev::after, .card__slider .slick-next::after {
  content: "";
  width: 10px;
  height: 10px;
  border: 2px solid #15435C;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
.card__slider .slick-prev::after {
  border-top: 0;
  border-right: 0;
  left: 53%;
}
.card__slider .slick-next::after {
  border-bottom: 0;
  border-left: 0;
  left: 47%;
}
.card__slider .slick-prev {
  left: -80px;
}
.card__slider .slick-next {
  right: -80px;
}
.card__slider .wrap {
  padding: 20px 0;
}
.card__slider .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 224px;
  height: 224px;
  background: #FFFFFF;
  border: 1px solid rgba(21, 67, 92, 0.2);
  border-radius: 10px;
  margin: 0 auto;
}
.card__slider .block .img {
  width: 184px;
  height: 184px;
  position: relative;
  overflow: hidden;
}
.card__slider .block .img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}

.characteristics {
  padding-top: 30px;
  padding-bottom: 50px;
}
.characteristics .title {
  font-weight: 800;
  font-size: 25px;
  line-height: 30px;
  color: #15435C;
  margin-bottom: 20px;
}
.characteristics li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #F6F8F9;
  padding: 20px;
}
.characteristics li .left {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #6A8695;
}
.characteristics li .right {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  color: #15435C;
}
.characteristics li:nth-child(2n) {
  background: #FFFFFF;
}

.additional {
  padding-bottom: 20px;
}
.additional .title {
  font-weight: 800;
  font-size: 25px;
  line-height: 30px;
  color: #15435C;
  margin-bottom: 20px;
}
.additional .item {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: inline-block;
  color: #6A8695;
  padding: 16px 30px;
  border: 1px dashed rgba(21, 67, 92, 0.2);
  border-radius: 10px;
  margin-bottom: 10px;
}
.additional .item:hover {
  background: linear-gradient(85.65deg, #00D1FF 0.01%, #35FFF3 100%);
  border: 0;
  margin-top: 1px;
  margin-bottom: 11px;
  color: #FFFFFF;
}

.vacansies {
  padding-top: 20px;
  padding-bottom: 200px;
}
.vacansies .title_h2 {
  margin-bottom: 40px;
}

.vacansies__accordion {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 20px rgba(21, 67, 92, 0.08);
          box-shadow: 0px 4px 20px rgba(21, 67, 92, 0.08);
  border-radius: 10px;
  margin-bottom: 10px;
}

.accordion_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
  padding: 20px 30px;
  padding-right: 0;
  cursor: pointer;
}
.accordion_btn .title {
  font-weight: 700;
  font-size: 17px;
  line-height: 21px;
  color: #15435C;
}
.accordion_btn .date {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #35FFF3;
}
.accordion_btn .price_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-left: auto;
  margin-right: 30px;
}
.accordion_btn .price_wrap p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #15435C;
}
.accordion_btn .price {
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  text-transform: uppercase;
  color: #15435C;
  margin-right: 6px;
}
.accordion_btn .down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 74px;
  height: 50px;
  border-left: 1px solid rgba(21, 67, 92, 0.2);
}
.accordion_btn .down svg {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}
.accordion_btn .down svg path {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.accordion_block {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all 4s ease;
  transition: all 4s ease;
}
.accordion_block .wrap {
  padding: 10px 30px 30px 30px;
}
.accordion_block .title {
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  color: #15435C;
  margin-bottom: 10px;
}
.accordion_block ul {
  margin-bottom: 20px;
}
.accordion_block li {
  font-weight: 300;
  font-size: 16px;
  line-height: 29px;
  color: #8299A6;
}
.accordion_block .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}
.accordion_block .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 52px;
  border: 1px dashed rgba(21, 67, 92, 0.2);
  border-radius: 10px;
  padding: 0 24px 0 20px;
  margin-right: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #6A8695;
}
.accordion_block .btn svg {
  margin-right: 20px;
}
.accordion_block .btn:hover {
  background: linear-gradient(85.65deg, #00D1FF 0.01%, #35FFF3 100%);
  border-color: transparent;
  border: 0;
  color: #FFFFFF;
  margin-right: 12px;
}
.accordion_block .btn:hover svg path {
  fill: #FFFFFF;
}
.accordion_block .btn2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 52px;
  padding: 0 45px;
  background: linear-gradient(85.65deg, #00D1FF 0.01%, #35FFF3 100%);
  -webkit-box-shadow: 0px 4px 20px rgba(21, 67, 92, 0.08);
          box-shadow: 0px 4px 20px rgba(21, 67, 92, 0.08);
  border-radius: 10px;
  border: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.accordion_block .btn2:hover {
  -webkit-box-shadow: 0px 10px 45px rgba(53, 255, 243, 0.3);
          box-shadow: 0px 10px 45px rgba(53, 255, 243, 0.3);
}

.accordion_btn.active .down svg {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.accordion_btn.active .down svg path {
  fill: #35FFF3;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.accordion_btn.active + .accordion_block {
  max-height: 10000px;
  -webkit-transition: all 5s ease;
  transition: all 5s ease;
}

.header__burgir {
  display: none;
}

.partners__slider_mobile {
  display: none;
}

.slick-dotted.slick-slider {
  margin-bottom: 0 !important;
}

@media screen and (max-width: 1800px) {
  .banner .slick-prev {
    left: 10%;
  }
  .banner .slick-next {
    right: 10%;
  }
}
@media screen and (max-width: 1650px) {
  .banner .slick-prev {
    left: 6%;
  }
  .banner .slick-next {
    right: 6%;
  }
}
@media screen and (max-width: 1500px) {
  .banner .slick-prev {
    left: 3%;
  }
  .banner .slick-next {
    right: 3%;
  }
}
@media screen and (max-width: 1400px) {
  .banner .slick-prev {
    left: 6px;
  }
  .banner .slick-next {
    right: 6px;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    max-width: 700px;
    padding: 0 15px;
  }
  section {
    display: none;
  }
  .header {
    height: 80px;
    padding: 20px 0 0 0 !important;
  }
  .header__navbar {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 79px;
    left: 0;
    max-width: 100%;
    width: 100%;
    background-color: #FFFFFF;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    height: 0;
  }
  .header__navbar ul {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 15px 40px 15px;
  }
  .header.menu-open .header__navbar {
    display: block;
  }
  .header.menu-open .header__burgir span {
    background: #15435C;
  }
  .header__navbar.active {
    height: 280px;
  }
  .header__call {
    display: none;
  }
  .header__right {
    margin-left: auto;
  }
  .header__phone {
    display: block;
    width: 40px;
    height: 40px;
    border: 1px solid #35FFF3;
    border-radius: 50%;
    color: transparent !important;
    overflow: hidden;
    margin: 0;
    background: transparent url(../img/phone.svg) no-repeat center;
  }
  .header__logo {
    width: 141px;
    height: 42px;
  }
  .header__burgir {
    width: 20px;
    height: 17px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-right: 20px;
    border: 0;
    background: transparent;
  }
  .header__burgir span {
    width: 100%;
    height: 3px;
    display: block;
    background: #FFFFFF;
    border-radius: 3px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .header__burgir.active span:nth-child(1) {
    -webkit-transform: translateY(7px);
            transform: translateY(7px);
  }
  .header__burgir.active span:nth-child(3) {
    -webkit-transform: translateY(-7px);
            transform: translateY(-7px);
  }
  .header__burgir.active span:nth-child(2) {
    opacity: 0;
  }
  .header__burgir.rotate span:nth-child(1) {
    -webkit-transform: translateY(7px) rotate(45deg);
            transform: translateY(7px) rotate(45deg);
  }
  .header__burgir.rotate span:nth-child(3) {
    -webkit-transform: translateY(-7px) rotate(-45deg);
            transform: translateY(-7px) rotate(-45deg);
  }
  .header_fixed .header__burgir span, .header_2 .header__burgir span {
    background: #15435C;
  }
  .footer {
    padding-top: 68px;
    padding-bottom: 55px;
  }
  .footer::after {
    background: url(../img/footer-mobile.svg) no-repeat top;
    background-size: 100%;
  }
  .footer::before {
    height: 51%;
  }
  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__nav:nth-child(1) {
    display: block;
  }
  .footer__nav {
    display: none;
    margin-bottom: 30px;
  }
  .footer__right {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__top {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 20px;
  }
  .footer__logo {
    width: 186px;
    height: 46px;
    margin-bottom: 20px;
  }
  .footer__email {
    margin-left: 0;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 10px;
  }
  .footer__phone {
    margin-left: 0;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px;
  }
  .footer__call {
    margin-left: 0;
    width: 100%;
    height: 40px;
  }
  .main {
    padding-top: 80px;
  }
  .banner {
    height: 560px;
    display: block;
    margin-top: -80px;
  }
  .banner__block {
    height: 560px;
    padding-top: 177px;
    background-position: 65% !important;
  }
  .banner__title {
    font-family: "Oswald", sans-serif;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 10px;
  }
  .banner__title span {
    display: block;
    font-size: 28px;
    line-height: 34px;
  }
  .banner__text {
    max-width: 215px;
    font-size: 14px;
    line-height: 17px;
  }
  .banner::after {
    width: 200px;
    -webkit-transform: rotate(-14deg) skewX(50deg);
            transform: rotate(-14deg) skewX(50deg);
  }
  .banner .slick-dots {
    bottom: 123px;
    padding: 0 15px;
  }
  .banner .slick-dots li {
    width: 7px;
    height: 7px;
  }
  .title_h2 .h2 {
    font-size: 25px;
    line-height: 30px;
  }
  .services {
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .services .title_h2 {
    margin-bottom: 20px;
  }
  .services__block {
    width: 100%;
    height: 160px;
    margin: 0 !important;
    margin-bottom: 10px !important;
    -webkit-filter: none;
            filter: none;
  }
  .services__block .more {
    left: 15px;
    bottom: 15px;
    padding: 4px 11px 6px 11px;
    font-size: 13px;
    line-height: 16px;
  }
  .services__block .content {
    left: 15px;
    bottom: 50px;
  }
  .services__block .content .title {
    max-width: 220px;
    width: 100%;
    font-size: 17px;
    line-height: 21px;
  }
  .news {
    display: block;
    padding-top: 38px;
    padding-bottom: 32px;
  }
  .news .title_h2 {
    margin-bottom: 20px;
  }
  .news__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .news__main {
    width: 100%;
    margin-bottom: 23px;
  }
  .news__main .img {
    height: 160px;
    margin-bottom: 10px;
  }
  .news__main .img .number {
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 36px;
    left: 15px;
  }
  .news__main .title {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 5px;
  }
  .news__main .date {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 5px;
  }
  .news__main .text {
    font-size: 14px;
    line-height: 17px;
  }
  .news__nav {
    width: 100%;
  }
  .news__nav .wrap {
    padding: 20px 0;
    border: 0;
    border-top: 1px solid #DAEDF7;
  }
  .news__nav .number {
    min-width: 30px;
    width: 30px;
    height: 36px;
    font-size: 30px;
    line-height: 36px;
  }
  .news__nav .number::after {
    height: 8px;
    bottom: -7px;
  }
  .news__nav .content {
    width: calc(100% - 30px);
    padding-left: 15px;
  }
  .news__nav .title {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 5px;
  }
  .news__nav .date {
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 5px;
  }
  .news__nav .text {
    font-size: 13px;
    line-height: 16px;
  }
  .news::after {
    background: url(../img/section-bg-mobile.svg) no-repeat top;
    background-size: 100%;
  }
  .news::before {
    background: url(../img/section-bg-mobile.svg) no-repeat bottom;
    background-size: 100%;
  }
  .projects {
    display: block;
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .projects .title_h2 {
    margin-bottom: 20px;
  }
  .projects__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .projects__nav {
    width: 100%;
    position: relative;
    z-index: 2;
  }
  .projects__map {
    width: calc(100% + 30px);
    margin-left: -15px;
    padding: 0;
    margin-top: -20px;
    overflow-x: auto;
  }
  .projects__map .wrap {
    min-width: 350px;
    width: 350px;
    margin: 0 auto;
    position: relative;
  }
  .projects__map svg {
    width: 100%;
    height: 100%;
  }
  .projects__map .region1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 9px;
    bottom: 63px;
    left: 4px;
  }
  .projects__map .region1 svg {
    width: 10px;
    height: 8px;
  }
  .projects__map .region2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    bottom: 59px;
    left: 11px;
    height: 9px;
  }
  .projects__map .region2 svg {
    width: 8px;
    height: 8px;
  }
  .projects__map .region3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    bottom: 55px;
    left: 17px;
    height: 10px;
  }
  .projects__map .region3 svg {
    width: 8px;
    height: 9px;
  }
  .projects__map .region4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    bottom: 56px;
    left: 28px;
    height: 11px;
  }
  .projects__map .region4 svg {
    width: 7px;
    height: 10px;
  }
  .partners {
    display: block;
    padding-top: 40px;
    padding-bottom: 60px;
  }
  .partners::after {
    background: url(../img/section-bg-mobile.svg) no-repeat top;
    background-size: 100%;
  }
  .partners::before {
    background: url(../img/section-bg-mobile.svg) no-repeat bottom;
    background-size: 100%;
  }
  .reviews {
    display: block;
    padding-top: 20px;
    padding-bottom: 46px;
  }
  .reviews .slick-dots {
    bottom: -10px;
  }
  .reviews .slick-dots li {
    width: 7px;
    height: 7px;
    background: #CADBE3;
    margin: 0 6px;
    border-radius: 50%;
  }
  .reviews .slick-dots li button {
    display: none;
  }
  .reviews .slick-dots li.slick-active {
    background: #35FFF3;
  }
  .card__banner {
    display: block;
    height: 560px;
    overflow: hidden;
  }
  .card__banner .container {
    padding-top: 15px;
  }
  .crumbs a, .crumbs p {
    padding: 3px 8px 4px;
    font-size: 12px;
    line-height: 15px;
  }
  .crumbs {
    margin-bottom: 10px;
  }
  .card__banner .img {
    top: auto;
    right: auto;
    bottom: 22px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 262px;
  }
  .card__banner .img img {
    width: 100%;
  }
  .card__banner .h1 {
    font-size: 30px;
    line-height: 36px;
  }
  .card__banner .title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 5px;
  }
  .card__banner .text {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 8px;
  }
  .card__banner .price_wrap {
    font-size: 14px;
    line-height: 17px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card__banner .price {
    font-size: 28px;
    line-height: 34px;
    margin: 0 6px;
  }
  .card__banner .btn {
    width: 133px;
    height: 40px;
    font-size: 16px;
    line-height: 19px;
    margin-left: 30px;
  }
  .card__banner .line {
    right: auto;
    left: 50%;
    -webkit-transform: translateX(-55%);
            transform: translateX(-55%);
    bottom: -100px;
  }
  .card__wrap {
    display: block;
    padding-top: 30px;
  }
  .card__wrap .title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 10px;
  }
  .card__wrap .text {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 10px;
  }
  .characteristics {
    display: block;
    padding-top: 10px;
    padding-bottom: 30px;
  }
  .characteristics ul {
    width: calc(100% + 30px);
    margin-left: -15px;
  }
  .characteristics li {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 12px 15px 16px 15px;
  }
  .characteristics li .left {
    width: 190px;
    font-size: 13px;
    line-height: 16px;
  }
  .characteristics li .right {
    width: calc(100% - 200px);
    font-size: 13px;
    line-height: 16px;
  }
  .characteristics .title {
    max-width: 240px;
    width: 100%;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 32px;
  }
  .additional {
    display: block;
  }
  .additional .title {
    max-width: 300px;
    width: 100%;
    font-size: 20px;
    line-height: 24px;
  }
  .additional .item {
    width: 100%;
    padding: 12px 12px 13px 15px;
    font-size: 14px;
    line-height: 17px;
  }
  .card {
    padding-bottom: 62px;
  }
  .vacansies {
    display: block;
    padding-top: 15px;
    padding-bottom: 76px;
  }
  .vacansies .title_h2 {
    margin-bottom: 20px;
  }
  .accordion_btn {
    height: auto;
    min-height: 100px;
    padding: 15px 13px 48px 15px;
    position: relative;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .accordion_btn .price_wrap {
    position: absolute;
    bottom: 13px;
    left: 15px;
  }
  .accordion_btn .down {
    width: auto;
    height: auto;
    margin-left: auto;
    border: 0;
    margin-top: 6px;
  }
  .accordion_btn .title {
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 3px;
  }
  .accordion_btn .date {
    font-size: 13px;
    line-height: 16px;
  }
  .accordion_btn .price_wrap {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .accordion_btn .price {
    font-size: 21px;
    line-height: 25px;
    margin-right: 2px;
  }
  .accordion_btn .price_wrap p {
    font-size: 13px;
    line-height: 16px;
  }
  .accordion_block .wrap {
    padding: 5px 15px 15px 15px;
  }
  .accordion_block .title {
    font-size: 14px;
    line-height: 17px;
  }
  .accordion_block li {
    font-size: 13px;
    line-height: 19px;
    margin-bottom: 10px;
  }
  .accordion_block .box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 20px;
  }
  .accordion_block .box .btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    position: relative;
    padding: 0;
    font-size: 14px;
    line-height: 17px;
  }
  .accordion_block .box .btn svg {
    position: absolute;
    top: 50%;
    left: 20px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .accordion_block .box .btn2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 40px;
    padding: 0;
    font-size: 14px;
    line-height: 17px;
  }
  .partners__slider {
    display: none;
  }
  .reviews__block {
    width: 180px;
    height: 277px;
    margin-left: 15px;
    padding: 16px 15px 12px 15px;
  }
  .reviews__slider {
    width: calc(100% + 30px);
    margin-left: -15px;
  }
  .reviews__block .img {
    max-width: 133px;
    width: 100%;
    height: 188px;
    margin: 0 auto;
    margin-bottom: 9px;
  }
  .reviews__block .text {
    font-size: 13px;
    line-height: 16px;
  }
  .reviews__wrap {
    padding: 20px 0;
  }
  .partners__wrap {
    padding: 20px 0;
  }
  .partners__slider_mobile {
    display: block;
    margin: 0 auto;
  }
  .partners .slick-dots {
    bottom: -10px;
  }
  .partners .slick-dots li {
    width: 7px;
    height: 7px;
    margin: 0 6px;
  }
  .partners__block {
    margin: 0 auto;
    width: 140px;
    height: 140px;
    margin-bottom: 10px;
    padding: 26px 20px 20px 20px;
  }
  .partners__block .icon {
    width: 62px;
    height: 62px;
    margin-bottom: 13px;
  }
  .partners__block:last-child {
    margin-bottom: 0;
  }
  .partners__block .title {
    font-size: 13px;
    line-height: 16px;
  }
  .card__slider {
    width: calc(100% + 30px);
    margin-left: -15px;
  }
  .card__slider .wrap {
    padding: 10px 0 20px 0;
  }
  .card__slider .block {
    width: 180px;
    height: 180px;
    margin-left: 15px;
  }
  .card__slider .block .img {
    width: 147px;
    height: 147px;
  }
  .header__logo {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .footer__logo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .modal {
    padding-top: 50px;
    overflow-y: auto;
  }
  .modal__block {
    padding: 50px 15px;
    padding-bottom: 24px;
  }
  .modal__block .title {
    margin-bottom: 32px;
  }
  .modal__block .box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .modal__block .box .input {
    width: 100% !important;
  }
  .modal__block .close {
    top: 16px;
    right: 16px;
  }
  .modal__block:hover::after {
    -webkit-transform: translate(250px, 20px) rotate(-45deg);
            transform: translate(250px, 20px) rotate(-45deg);
  }
}